
    <div id="header" class="header">
        <img id="logo" class="logo" src="assets/img/logo5.svg" alt="">
        <img (click)="openMenu()" id="burger" class="burger" 
        src="assets/img/burger.svg" alt="">
        <div id="open-menu" class="open-menu">
          <div class="menu-header">
            <a (click)="closeMenu()" routerLink="/"><img class="logo" src="assets/img/logo5.svg" alt=""></a>
            <img (click)="closeMenu()" class="close" src="assets/img/kreuz.svg" alt="">
          </div>
          <div id="menu-links" class="menu-links">
            <div class="links">
              <a (click)="closeMenu()" href="#aboutme">About me</a>
              <a (click)="closeMenu()" href="#skills">My Skills</a>
              <a (click)="closeMenu()" href="#portfolio">Portfolio</a>
            </div>
          </div>
          <div class="menu-footer">
            <div class="menu-social-box">
                <h2>Say Hi!</h2>
                <a href="mailto:katharina@hinnrichs.de">katharina@hinnrichs.de</a>
              </div>
              <div class="menu-social-links">
                <a href="https://github.com/katharinahamburg" target="_blank">
                  <img src="assets/img/github-icon.svg" alt="">
                </a>
                <a href="mailto:katharina@hinnrichs.de">
                    <img src="assets/img/email-icon.svg" alt="">
                  </a>
                <a href="https://www.linkedIn.com/in/katharina-hinnrichs-68bb12173">
                  <img src="assets/img/linkedIn-icon.svg" alt="">
                </a>
              </div>
      
            </div>
          </div>
        </div>
    




