.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    position: fixed;
    height: 60px;
    width: 100vw;
    position: fixed;
    background-color: #fffcf3;
   
   
    
    .logo {
        margin-top: 5px;
        width: 150px;
        height: 150px;
        cursor: pointer;
       display: flex;
       
    }
    
   


        .burger {
            display: flex;
            width: 50px;
            height: 50px;
            margin-right: 15vw;
            cursor: pointer;
        }
    
    


}
    
   

    .menu-links {
        
        background-color: #fffcf3;
       
      
    

       a {
        font-size: 52px;
        text-decoration: none;
        gap: 25px;
        cursor: pointer;
       }

    }



    
