
    <div id="header" class="header">

        <img id="logo" class="logo" src="/assets/img/logo.svg" alt="">

        <img (click)="openMenu()" id="burger" class="burger" src="/assets/img/burger.svg" >
    </div>
    

    <div class="directory-open" *ngIf="showMenu">
        <div class="directory-close">
    <img (click)="closeMenu()" id="close" class="close" src="/assets/img/kreuz.svg">
    </div>

<div id="menu-links" class="menu-links">
    <a href="#aboutme">About Me</a>
    <a href="#myskills">My Skills</a>
    <a href="#portfolio">Portfolio</a>
</div>

</div>






