.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #fffcf3;
   
   
    
    .logo {
        display: flex;
        margin-top: 5px;
        width: 100px;
        height: 100px;
        margin-left: 10%;
        cursor: pointer;
    }
    
        .burger {
            display: flex;
            width: 50px;
            height: 50px;
           margin-right: 10%;
            cursor: pointer;
        }
    
}

    .menu-links {
        
        background-color: #fffcf3;
       
       a {
        font-size: 52px;
        text-decoration: none;
        gap: 25px;
        cursor: pointer;
       }

    }



    
