.footer-box {
    width: 100%;
    display: block;
    background-color: black;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 6%;

    #arrow-footer {
        display: flex;
        padding-bottom: 30px;
        height: 90px; 

        &:hover {
            transform: scale(1.5);
            transition: all .30s ease-in-out;
            cursor: pointer;
            
        }
    } 
}

.footer-right-links {
    display: flex;
    flex-direction: row;
    align-items: center;
   
    a {
        padding-right: 20px;
        &:hover {
            transform: scale(1.5);
            transition: all .30s ease-in-out;
        }
    }
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6%;

    img {
        padding-bottom: 15px;
    }

    .copy, .a {
        color: #fffcf3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 20px;

    }

    a {
        font-family: 'Overpass', sans-serif;
        color: #fffcf3;
        text-decoration: none;
        padding-right: 10px;  


        &:hover {
            color: #5988FF;
            text-decoration: underline;
        }
    }
    .copy {
        font-size: 10px;
    }
    .logo-footer:hover {
        transform: scale(1.5);
        transition: all .30s ease-in-out;
        cursor: pointer;
    }
}

