.footer {
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10%;
}


.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;

    
    .copy, .imprint, .data-protection {
        color: #fffcf3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 8px;
    }

}

