<div class="footer">
<div class="footer-left">
    <a href="#header">
        <img src="assets/img/email-icon.svg" alt="">
    </a>
    <div class="copy">Copyright 2023</div>
    <div class="footer-links">
        <div class="imprint">Imprint</div>
        <div class="privacy-policy">Privacy Policy</div>
    </div>

<div class="footer-right">  
    <a href="https://github.com/katharinahamburg">
        <img src="assets/img/github-icon.svg" alt="">
    </a>
    <a href="mailto:katharina@hinnrichs.de">
        <img src="assets/img/email-icon.svg" alt="">
    </a>
    <a href="https://www.linkedin.com/in/katharina-hinnrichs-68bb12173">
        <img src="assets/img/linkedIn-icon.svg" alt="">
    </a>
</div>
</div>
