 <div class="footer-box"></div>
<div class="footer">
   
<div class="footer-left">
    <a (click)="scrollToHeader()" class="logo-footer">
        <img src="assets/img/logohell.svg" alt="">
    </a>
   
    <div class="footer-links">
            <a routerLink="/imprint">Imprint</a>
            <a routerLink="/data-protection">Data Protection</a>  
    </div>
    <div class="copy">© Katharina Hinnrichs 2023</div>
</div>
<div class="footer-right">
<a (click)="scrollToHeader()" class="arrow-footer">
    <img id="arrow-footer" src="assets/img/hoch.svg" alt="">
</a>
<div class="footer-right-links">  
    <a href="https://github.com/katharinahamburg" target="_blank">
        <img src="assets/img/github-icon.svg" alt="">
    </a>
    <a href="mailto:katharina@hinnrichs.de" target="_blank">
        <img src="assets/img/email-icon.svg" alt="">
    </a>
    <a href="https://www.linkedin.com/in/katharina-hinnrichs-68bb12173" target="_blank">
        <img src="assets/img/linkedIn-icon.svg" alt="">
    </a>
</div>
</div>
</div>