<div class="footer">
<div class="footer-left">
    <a (click)="scrollToHeader()">
        <img src="assets/img/logo8.svg" alt="">
    </a>
   
    <div class="footer-links">
            <a routerLink="/imprint">Imprint</a>
            <a routerLink="/data-protection">Data Protection</a>  
    </div>
    <div class="copy">© Katharina Hinnrichs 2023</div>
</div>

<div class="footer-right">  
    <a href="https://github.com/katharinahamburg">
        <img src="assets/img/github-icon.svg" alt="">
    </a>
    <a href="mailto:katharina@hinnrichs.de">
        <img src="assets/img/email-icon.svg" alt="">
    </a>
    <a href="https://www.linkedin.com/in/katharina-hinnrichs-68bb12173">
        <img src="assets/img/linkedIn-icon.svg" alt="">
    </a>
</div>
</div>
