.footer {
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10%;
}
#arrow-footer {
    display: flex;
    padding-bottom: 30px;
    width: 60px;
    height: 60px; 
}

#arrow-footer:hover {
    cursor: pointer;
}

.footer-right-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        padding-right: 20px;
    }
}




.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;

    img {
        padding-bottom: 15px;
    }

    
    .copy, .a {
        color: #fffcf3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 20px;
    }

    a {
        font-family: 'Overpass', sans-serif;
        color: #fffcf3;
        text-decoration: none;
        padding-right: 10px;
        
    }
    .copy {
        font-size: 10px;
    }
    .logo-footer:hover {
        cursor: pointer;
    }
}

