

   <h2>About Me</h2>
    <div class="aboutme">
    <div class="about">
       <br>
        Lorem ipsum dolor sit, amet consectetur tüdelüt
        adipisicing elit. Quaerat nemo excepturi 
        asperiores eligendi, voluptates perspiciatis 
        alias a velit nostrum molestias, quisquam ad 
        labore expedita<br>
        est atque adipisci optio ab corrupti?
        <br>
        Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Error id nihil doloribus
        <br>
        
        
        <button class="talk">Let's talk</button>
    </div>
   <div class="pom">
    <img src="assets/img/foto.jpg" alt="">
</div>
</div>
  



