 <div id="aboutme" class="aboutme">
       
    <span id="about">
        <div class="about-h2" >
            <h2>About me</h2>
         </div>
         In Development I found my passion. So I decided to train HTML, CSS, 
         JavaScript & Angular to start a new career in  Web Development. <br><br>
         This is my personal webpage which includes some
        websites and projects I worked on. 
        <br>
        <br>I am looking forward to 
         more experience and starting  
         my career in IT as Junior Developer.
        
        
       
        
        <div class="talk-btn">
        <a href="#form"><button class="talk">Let's talk</button></a>
        </div>
        </span>
    <div class="pom" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <img src="assets/img/foto.jpg" alt="">
        <div class="pom-frame"[style.border]="isHovered ? '4px solid black' : '4px solid transparent'"></div></div>
    
    </div>

  



