<div class="aboutme">
   
    <h2>About Me</h2>
    <div class="with-pic"> 
    <div class="about">
        Lorem ipsum dolor sit, amet consectetur<br> 
        adipisicing elit. Quaerat nemo excepturi <br>
        asperiores eligendi, voluptates perspiciatis<br> 
        alias a velit nostrum molestias, quisquam ad <br>
        labore expedita<br>
        est atque adipisci optio ab corrupti?<br>
        <br>
        Lorem ipsum dolor sit amet consectetur <br>
        adipisicing elit. Error id nihil doloribus <br>
        <br>
        repellendus iste dolore! Consequatur illum eos,<br> 
        aliquam, quibusdam labore nobis ullam accusamus <br>   
    </div>
   <button class="talk">Lets Talk</button>

   <img src="assets/img/image2.png" alt="">
</div>
</div>
