.contact {
    width: 100%;
   
    display: flex;
    justify-content: center;
    background-color: black;
}

.inner-contact {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    height: 90%;

   
}
.upper {
    height: 18%;

}

h2 {
    color: #fffcf3;
}