
    <div class="main-container">
    <h1>Frontend<br>Developer</h1>
<div class="name-section">
    <span class="line"></span>
    <span class="name">Katharina Hinnrichs</span>
</div>


<div class="mail-section">
        <aside class="header-mail">
            <a href="mailto:">katharina@hinnrichs.de</a>
        </aside>
    <div class="scroll-sec">

            <div class="arrow-img">
                <img *ngIf= "showArrow" class="arrow-down-animation"
                src="assets/img/{{ arrows[currentArrow] }}">
            </div> 

    <div class="scroll-text">Scroll<br>Down</div>

    </div>
</div>

