.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-bottom: 25vh;
}

    h1 {
        font-family: 'Syne', sans-serif;
        font-weight: 900;
        font-size: calc(10px + 8vw);
        margin-bottom: 2px;
        text-align: center;
    }
    
    


    
    .name-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 100px;

       .line {
        display: flex;
        align-items: center;
        background-color: black;
        height: 3px;
        width: 30em;
        margin-right: 10px;
    }
    
    .name {
        display: flex;
        align-items: center;
        font-weight: 400;
        color: #5988FF;
        font-weight: 600;
        font-size: 32px;
        font-family: 'Overpass', sans-serif;
    }
}



    .mail-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
       


        .header-mail {
            display: flex;
            justify-content: space-between;
            padding-right: 100px;
            
            width: 80vw;
            
            margin-left: 6rem;

            a {
                text-decoration: none !important;
                color: black;
                transform: rotate(270deg);
                padding-right: 50px;
                cursor: alias;
            }
        }

            .scroll-sec {
                display: flex;
                flex-direction: column;
               justify-content: space-evenly;
               align-items: center;
               margin-right: 6rem;


               

                arrow-down-animation {
                    display: flex;
                    width: 60px
                }
                .scroll-text {
                    display: flex;
                    

                }
            }
           }
        
           


    
    

  



    
        
