<div id="myskills" class="myskills">
    <div id="arrow-right" class="arrow-animation" 
    (mouseover)="updateSkillArrow()" (mouseout)="showSkillArrow">
<img *ngIf="showSkillArrow" src="assets/img/{{ rightarrows[currentSkillArrow] }}" alt="">
    </div>
 
    <div class="skills-container">
<h2>My skills</h2>
<div class="skills">
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/angular1.svg" alt="">
        </div>
        <div class="skill-name">Angular</div>
    </div>
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/ts1.svg" alt="">
        </div>
        <div class="skill-name">TypeScript</div>
    </div>
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/scss1.svg" alt="">
        </div>
        <div class="skill-name">SCSS</div>
    </div>
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/js1.svg" alt="">
        </div>
        <div class="skill-name">JavaScript</div>
    </div>
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/css1.svg" alt="">
        </div>
        <div class="skill-name">CSS</div>
    </div>
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/js1.svg" alt="">
        </div>
        <div class="skill-name">HTML</div>
    </div>
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/api1.svg" alt="">
        </div>
        <div class="skill-name">Rest-Api</div>
        </div>
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/mat1.svg" alt="">
        </div>
        <div class="skill-name">Material Design</div>
    </div>
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/scrum1.svg" alt="">
        </div>
        <div class="skill-name">Scrum</div>
    </div>
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/git1.svg" alt="">
        </div>
        <div class="skill-name">Git</div>
    </div>
    <div class="skill">
        <div class="skill-icon">
            <img src="assets/img/firebase1.svg" alt="">
        </div>
        <div class="skill-name">Firebase</div>
    </div>
</div>
    </div>
    
    <div id="arrow-left" class="arrow-animation" (mouseover)="updateSkillArrow()" (mouseout)="showSkillArrow">
        <img *ngIf="showSkillArrow" src="assets/img/{{ leftarrows[currentSkillArrow] }}" alt="">
            </div>
</div>
