
    .arrow-right {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 18%;
        min-height: 250px;
        padding-top: 30px;
    }
    .arrow-left {
        display: flex;
        flex-direction: row;
        margin-left: 18%;
        min-height: 250px;
        padding-top: 30px;
    }
    
    h2 {
        background-color: #fffcf3;
        text-indent: 10px;
    }
    




.myskills {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    h2 {
        margin-top: -55px;
    }


.skills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    


    .skill {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 75px;
    margin: 80px;

    .skill-icon {
    display: flex;
    width: 75px;
    height: 75px;
    cursor: move;
    }
    .skill-icon:hover {
        background-color: #5988FF;
    }
}


.skill-name {
    display: flex;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.skill-name:hover {
    color: #5988FF;
}
}


}



