<div id="portfolio" class="portfolio">
<div class="headline-pf">
    <h2>Portfolio</h2>
    <p>lorem ipdumschnüdeldidei hübe ldih oppdit<br>
    lorem ipdumsch nüde ldidei hübe ldih oppdit<br>
        üdel didü</p>
</div>
    

<div class="project-box">

    <div class="screen-bw">
        <img src="assets/img/dum-join-bw.jpg" alt="">
    </div>
   
    <div class="project-infobox">
        <span class="count">01/04</span>
    </div>

  
</div>

<div class="project-box-reverse">

    <div class="screen-bw">
        <img src="assets/img/dum-elpol-bw.jpg" alt="">
    </div>
   
    <div class="project-infobox-reverse">
        <span class="count-re">02/04</span>
    </div>

  
</div>


<div class="project-box">

    <div class="screen-bw">
        <img src="assets/img/dum-poke-bw.jpg" alt="">
    </div>
   
    <div class="project-infobox">
        <span class="count">03/04</span>
    </div>

  
</div>

<div class="project-box-reverse">

    <div class="screen-bw">
        <img src="assets/img/dum-crm-bw.jpg" alt="">
    </div>
   
    <div class="project-infobox-reverse">
        <span class="count-re">04/04</span>
    </div>

  
</div>




<div class="project-box-hover">

    <div class="screen-color">
        <div class="project-frame"></div>
        <img src="assets/img/dum-join.png" alt="">
    </div>
   
    <div class="project-counter project-infobox">
        <span class="count">01/04</span>
    </div>

  
</div>

<div class="project-box-reverse-hover">

    <div class="screen-color">
        <div class="project-frame-right"></div>
        <img src="assets/img/dum-elpol.png" alt="">
    </div>
   
    <div class="project-counter project-infobox-reverse">
        <span class="count-re">02/04</span>
    </div>

  
</div>


<div class="project-box-hover">

    <div class="screen-color">
        <div class="project-frame"></div>
        <img src="assets/img/dum-poke.png" alt="">
    </div>
   
    <div class="project-counter project-infobox">
        <span class="count">03/04</span>
    </div>

  
</div>

<div class="project-box-reverse-hover">

    <div class="screen-color">
        <div class="project-frame-right"></div>
        <img src="assets/img/dum-crm.png" alt="">
    </div>
   
    <div class="project-counter project-infobox-reverse">
        <span class="count-re">04/04</span>
    </div>

  
</div>
</div>