<div id="portfolio" class="portfolio">
<div class="headline-pf">
    <h2>Portfolio</h2>
    <p>lorem ipdumschnüdeldidei hübe ldih oppdit<br>
    lorem ipdumsch nüde ldidei hübe ldih oppdit<br>
        üdel didü</p>
</div>
    


<div class="project-box">

    <div class="screen-bw">
        <img src="" alt="">
    </div>
    <div class="screen-color">
        <img src="" alt="">
    </div>



    
<div class="project-infobox">
    <div class="project-name"></div>
    <div class="project-stack"></div>
    <div class="project-discription"></div>
    <button class="link-to-project"></button>
</div>
</div>


<div class="project-box-reverse ">

    <div class="screen-bw">
        <img src="" alt="">
    </div>
    <div class="screen-color">
        <img src="" alt="">
    </div>



    
<div class="project-infobox">
    <div class="project-name"></div>
    <div class="project-stack"></div>
    <div class="project-discription"></div>
    <button class="link-to-project"></button>
</div>
</div>


<div class="project-box">

    <div class="screen-bw">
        <img src="" alt="">
    </div>
    <div class="screen-color">
        <img src="" alt="">
    </div>



    
<div class="project-infobox">
    <div class="project-name"></div>
    <div class="project-stack"></div>
    <div class="project-discription"></div>
    <button class="link-to-project"></button>
</div>
</div>



<div class="project-box-reverse ">

    <div class="screen-bw">
        <img src="" alt="">
    </div>
    <div class="screen-color">
        <img src="" alt="">
    </div>



    
<div class="project-infobox">
    <div class="project-name"></div>
    <div class="project-stack"></div>
    <div class="project-discription"></div>
    <button class="link-to-project"></button>
</div>
</div>


