.portfolio {
    width: 100vw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap: 4em;

.headline-pf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 25vh; 

    h2 {
        display: flex;
        margin-bottom: 8px;
    }
  p {
    display: flex;
    font-size: 24px;
}
}   
}

.project-box {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-right: 6rem;
   margin-left: 6rem;


   
    .screen-bw {
        display: flex;
        width: 50%;
        height: auto;
        background-color: aqua;
    }
}

    .project-infobox {
        display: flex;
        width: 50%;
        height: 500px;
        background-color: blueviolet;
    }
       


    .project-box-reverse  {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
   margin-right: 6rem;
   margin-left: 6rem;

   
   
    .screen-bw {
        display: flex;
        width: 50%;
        height: auto;
        background-color: aqua;
    }
}

    .project-infobox{
        display: flex;
        width: 50%;
        height: 500px;
        background-color: blueviolet;
    }
       

