<div id="portfolio" class="portfolio">
<div class="headline-portfolio">
    <h2>Portfolio</h2>
    <p>Try out my latest development projects <br>and check out their code on GitHub.</p>
</div>
<div class="project-box" (mouseover)="rotateCircle(0)" (mouseout)="noRotationCircle(0)">
    <div class="project-infobox">
      <div class="project-frame" [style.border]="isHovered[0] ? '5px solid black' : '4px solid transparent'">
        <img class="project-img" src="assets/img/dum-join.png" alt="" [style.filter]="isHovered[0] ? 'grayscale(0)' : 'grayscale(1)'">
        <img id="circle" class="circle" src="assets/img/kreis2.svg" alt=""
        [style.display]="isHovered[0] ? 'block':'none'">
      </div>
    
    </div>

    <div class="project-decription">
        <span class="counter">01/03</span>
    <div class="project-box-reverse" 
    [style.visibility]="isHovered[0] ? 'visible' : 'hidden'"
    [style.transform]="isHovered[0] ? 'translateX(0px)' : 'translateX(-442px)'">
      
        <div class="project">
          <h3>Join</h3>
        </div>
        <span class="stack">JavaScript | HTML | CSS</span>
        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign
          users and categories. This was a team project.</p> 
          <div class="portfolio-btn">
            <a href="https:///" target="_blank"><button class="btn">Try it!</button></a>
            <a href="https://" target="_blank"><button class="btn">GitHub</button></a>
    </div>
          
      </div>
    </div>
  </div>


  <div class="project-box"(mouseover)="rotateCircle(1)" (mouseout)="noRotationCircle(1)">
    <div class="project-decription">
        <span class="counter-reverse">02/03</span>
    <div class="project-box-reverse"
    [style.visibility]="isHovered[1] ? 'visible' : 'hidden'"
    [style.transform]="isHovered[1] ? 'translateX(0px)' : 'translateX(442px)'">
        <div class="project">
          <h3>El pollo loco</h3>
        </div>
        <span class="stack">JavaScript | HTML | CSS</span>
        <p>Jump, run and throw game on object-orientated approach. Help Pepe to find coins and salsa bottles to fight the Endboss.</p>
        <div class="portfolio-btn">
          <a href="https:///" target="_blank"><button class="btn">Try it!</button></a>
          <a href="https://" target="_blank"><button class="btn">GitHub</button></a>
        </div>
      </div>
    </div>

    <div class="project-infobox">
      <div class="project-frame-reverse" [style.border]="isHovered[1] ? '5px solid black' : '4px solid transparent'">
        <img class="project-img" src="assets/img/dum-elpol.png" alt="" [style.filter]="isHovered[1] ? 'grayscale(0)' : 'grayscale(1)'">
        <img id="circle_1" class="circle circle-reverse" src="assets/img/kreis2.svg" alt=""
        [style.display]="isHovered[1] ? 'block':'none'">
      </div>
    </div>
  </div>


  <div class="project-box"(mouseover)="rotateCircle(2)" (mouseout)="noRotationCircle(2)">
    <div class="project-infobox">
      <div class="project-frame" [style.border]="isHovered[2] ? '5px solid black' : '4px solid transparent'">
        <img class="project-img" src="assets/img/pokedexx.png" alt="" [style.filter]="isHovered[2] ? 'grayscale(0)' : 'grayscale(1)'">
        <img id="circle_2" class="circle" src="assets/img/kreis2.svg" alt=""
        [style.display]="isHovered[2] ? 'block':'none'">
      </div>
    </div>
    <div class="project-decription">
        <span class="counter">03/03</span>
    <div class="project-box-reverse"
    [style.visibility]="isHovered[2] ? 'visible' : 'hidden'"
    [style.transform]="isHovered[2] ? 'translateX(0px)' : 'translateX(-442px)'">
        <div class="project">
          <h3>Pokedexx</h3>
        </div>
        <span class="stack">JavaScript | API | HTML | CSS </span>
        <p>Based on the PokéAPI a simple library that provides and catalogues pokémon information.</p>
        <div class="portfolio-btn">
            <a href="https://pokedexx.hinnrichs.de/" target="_blank"><button class="btn">Try it!</button></a>
            <a href="https://" target="_blank"><button class="btn">GitHub</button></a>
          </div>
    </div>
  </div>

  </div>
  <div id="arrow-right" class="arrow-animation" (mouseover)="updateSkillArrow()" (mouseout)="showFirstArrow()">
    <img 
    *ngIf="updateSkillArrow" src="assets/img/{{ rightarrows[currentSkillArrow] }}" alt="">
        </div>
  
</div>




