body {
    background-color: #fffcf3;
    /*font-family: 'Syne', sans-serif;*/
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;  
    color: aqua;
}

