body {
   
    background-color: #fffcf3;
    /*font-family: 'Syne', sans-serif;*/
    margin-left: 150rem;
    margin-right: 150rem;
}

h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;  
    color: aqua;
}
