  .imprint {
    height: calc(68vh - 142.67px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imprint-box {
        padding: 0 150px;
      }
      
     
      
  }
  
 